iframe {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0; 
    left: 0;
    margin: 0;
    padding: 0;
    border: none;
    overflow: hidden;
}

#home {
    position: absolute;
    background: #fdfcfc;
    width: 50px;
    height: 20px;
    top: 120px;
    left: 5%;
    border: 1px solid black;
    box-shadow: 2px 2px black;
}

body {
    color: #333333;
    background: #edecec;
    height: 100%;
    position: relative;
    padding: 100px 40px 0 40px !important;
}

* {
    font-size: 100%;
    font-family: Consolas, monospace ;
}

#cent {
    position: absolute;
    background: #fdfcfc;
    width: auto;
    height: auto;
    top: 200px;
    left: 30%;
    right: 30%;
    margin-left:-100px;
    margin-top:-50px;
    border: 1px solid black;
    box-shadow: 10px 10px black;
}

#content {
    padding: 2% 5%;
}

table, th, td {
    margin-top: 10px;
    border-collapse: collapse;
    border: 1px solid black;
    padding: 5px;
}